// Individual darkenings for foreground colors in Contextual List Groups

.list-group-item-success , a.list-group-item-success, button.list-group-item-success {
	color:  #2C4A1B;
}

.list-group-item-info, a.list-group-item-info, button.list-group-item-info {
	color:  #164591;
}
.list-group-item-warning , a.list-group-item-warning , button.list-group-item-warning {
	color:  #9A4A08;
}
.list-group-item-danger a.list-group-item-danger, button.list-group-item-danger {
	color:  #903040;
}


