.chemachop {

	// If you are using lg buttons in modal-footer add this class//
	&.chemachop-lg {
		@media screen and (min-width: $screen-sm-min) {
			bottom: $chemachop-lg-modal;
		}
	}

	.controls {
		background-color: $chemachop-bg;
		bottom: 0;
		height: $chemachop-controls-height;
		margin-left: $chemachop-negative-margin;
		position: absolute;
		width: 100%;

		.btn {
			color: $chemachop-text-color;
			padding: $chemachop-btn-padding;
		}

		.filters {
			background-color: $chemachop-bg;
			bottom: $chemachop-controls-height;
			height: 0;
			overflow: hidden;
			position: absolute;
			width: 100%;

			@include transition(height .6s $ease-out-quint);

			.btn-space {
				margin-top: $chemachop-btn-space;
			}

			.filters-list {
				overflow: auto;
				padding: 10px 0 0;

				.list-table {
					display: table;

					li {
						display: table-cell;
						padding: 0 2px;
					}

					span {
						display: block;
						font-size: $chemachop-text-size;
						line-height: $chemachop-text-line;
					}
				}
			}
		}

		.open {
			.btn {
				color: $chemachop-link-color;
			}

			.filters {
				height: $chemachop-filters-height;
				z-index: 1;
			}
		}
	}

	.history-controls {
		bottom: $chemachop-history-controls-bottom;
		position: absolute;

		&.history-left {
			left: $chemachop-history-controls-side;
		}

		&.history-right {
			right: $chemachop-history-controls-side;
		}

		a.btn {
			background-color: #3A4B57;
			color: $chemachop-text-color;
			margin-left: 4px;
		}
	}
}