// Primary Colors

$dxp-dark: #41444B;

$dxp-cta: #488FFF;

$dxp-white: #FFF;

$dxp-light-dark: #F1F3F5;

// Secondary Colors sc-

$sc-cta: #4172A9;
$sc-danger: #FF6060;
$sc-dark-gradient-a: #555A72;
$sc-dark-gradient-b: #323643;
$sc-dark: #464A5E;
$sc-success: #41A967;
$sc-warning: #E77735;

// Colors variants

$dxp-cta-lighten-hard: lighten($dxp-cta, 34%);
$dxp-cta-lighten-hight: lighten($dxp-cta, 32%);
$dxp-cta-lighten-low: lighten($dxp-cta, 18%);
$dxp-cta-lighten-medium: lighten($dxp-cta, 30%);
$dxp-cta-lighten: lighten($dxp-cta, 10%);

$dxp-dark-lighten-full: lighten($dxp-dark, 65%);
$dxp-dark-lighten-hard: lighten($dxp-dark, 60%);
$dxp-dark-lighten-hight: lighten(desaturate($dxp-dark, 3%), 50%);
$dxp-dark-lighten-low: lighten($dxp-dark, 35%);
$dxp-dark-lighten-medium: lighten(desaturate($dxp-dark, 4%), 40%);
$dxp-dark-lighten: lighten($dxp-dark, 15%);

$sc-danger-lighten: lighten($sc-danger, 12%);
$sc-danger-lighten-hight: lighten($sc-danger, 28%);

$sc-success-lighten: lighten($sc-success, 25%);
$sc-success-lighten-hight: lighten($sc-success, 49%);

$sc-warning-lighten: lighten($sc-warning, 20%);
$sc-warning-lighten-hight: lighten($sc-warning, 42%);

// Font

$dxp-font-family-sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif !default;