// Structure

$table-border-size: 1px !default;

$table-bg-accent: $dxp-cta-lighten-hard !default;
$table-bg-hover: $dxp-cta-lighten-medium !default;

$table-header-color: $text-color !default;
$table-header-font-size: 14px !default;
$table-header-font-weight: 500 !default;
$table-header-height: 64px !default;

// $table-list-body-row-bg: #FFF !default;

$table-list-row-active-border-bottom-width: 1px !default;
$table-list-row-active-border-color: $brand-primary !default;
$table-list-row-height: 56px !default;

$table-list-link-color: $brand-default !default;

// Skin

$table-border-color: $dxp-dark-lighten-full;