// Structure

// must all be same units--start
$toggle-switch-bar-padding: 2px !default; // Shared // space between button and bar, can be negative value
$toggle-switch-button-width: 16px !default; // Shared

$toggle-switch-bar-height: 20px !default; // Shared
$toggle-switch-bar-width: 40px !default; // Shared // width of switch bar

$toggle-switch-bar-desktop-padding: 3px !default; // space between button and bar, can be negative value
$toggle-switch-button-desktop-width: 14px !default;

$toggle-switch-bar-desktop-height: ($toggle-switch-bar-desktop-padding * 2) + $toggle-switch-button-desktop-width !default;
$toggle-switch-bar-desktop-width: 40px !default; // width of switch bar
// must all be same units--end

$toggle-switch-bar-border-radius: ($toggle-switch-bar-desktop-height / 2) !default; // Shared
$toggle-switch-bar-border-width: 0 !default; // Shared
$toggle-switch-bar-font-size: $font-size-small !default; // Shared

$toggle-switch-button-border-width: 0 !default; // Shared
$toggle-switch-button-font-size: $toggle-switch-bar-font-size !default; // Shared

$toggle-switch-bar-desktop-font-size: 10px !default;
$toggle-switch-button-desktop-font-size: $toggle-switch-bar-desktop-font-size !default;

$toggle-switch-text-margin: 4px;

// Skin

// Toggle Switch Off
$toggle-switch-button-border-radius: 50% !default; // Shared
$toggle-switch-bar-bg: $sc-dark-lighten-low !default; // Shared
$toggle-switch-bar-border-color: $sc-dark-lighten-low !default; // Shared
$toggle-switch-bar-icon-color: $sc-dark-lighten !default; // Shared

$toggle-switch-button-bg: $sc-dark-lighten-medium !default; // Shared
$toggle-switch-button-border-color: $dxp-cta !default; // Shared
$toggle-switch-button-icon-color: $dxp-dark-lighten !default; // Shared

// Toggle Switch On
$toggle-switch-button-on-border-radius: $toggle-switch-button-border-radius !default; // Shared
$toggle-switch-bar-on-bg: $dxp-cta !default; // Shared
$toggle-switch-bar-on-border-color: $dxp-cta !default; // Shared
$toggle-switch-bar-on-icon-color: $dxp-white !default; // Shared

$toggle-switch-button-on-bg: $dxp-white !default; // Shared
$toggle-switch-button-on-border-color: $dxp-white !default; // Shared
$toggle-switch-button-on-icon-color: $toggle-switch-bar-on-bg !default; // Shared