// Structure

$toolbar-group-height: 48px !default;

$toolbar-labels-height: 40px !default;

$toolbar-labels-padding-horizontal: 8px !default;
$toolbar-labels-padding-vertical: 2px !default;

$toolbar-padding-horizontal: 0 !default;
$toolbar-padding-vertical: 0 !default;

$toolbar-group-content-padding-horizontal: 8px;

$toolbar-group-desktop-height: 64px !default;

$toolbar-labels-desktop-height: 56px !default;

$toolbar-desktop-labels-horizontal: 24px !default;
$toolbar-desktop-labels-vertical: 6px !default;

$toolbar-desktop-padding-horizontal: 8px !default;
$toolbar-desktop-padding-vertical: 8px !default;

$header-toolbar-height: $toolbar-group-height !default;

$header-toolbar-desktop-height: $toolbar-group-desktop-height !default;

$header-toolbar-default-border-width: 0 !default;

// Skin

$header-toolbar-default-bg: #29343D !default;
$header-toolbar-default-color: #FFF !default;
$header-toolbar-default-divider: rgba(255, 255, 255, 0.05) !default;
$header-toolbar-default-divider-width: 1px !default;

$header-toolbar-default-link-color: #FFF !default;
$header-toolbar-default-link-hover-bg: transparent !default;
$header-toolbar-default-link-hover-color: $header-toolbar-default-link-color !default;

$toolbar-default-bg: $dxp-white !default;
$toolbar-default-color: $dxp-dark-lighten-low !default;

$toolbar-default-link-color: $dxp-dark !default;
$toolbar-default-link-hover-bg: transparent !default;
$toolbar-default-link-hover-color: $dxp-dark !default;