.open .dropdown-menu-icons {
	display: table;
	min-width: 50px;
	padding: 4px 8px 8px;

	li {
		display: table-cell;

		&.active a {
			color: $toolbar-default-link-hover-color;
		}
	}

	a {
		color: $toolbar-default-link-color;
		padding: 4px 14px;

		&, &:hover, &:focus, &:active, &.active {
			background: transparent;
		}
	}
}