// @include font-face("Source Sans Pro", "../../fonts/SourceSansPro-Regular", normal, $file-formats: ttf eot otf woff2 woff);

@font-face {
	font-family: "Source Sans Pro";
	font-stretch: normal;
	font-style: normal;
	font-weight: $dxp-font-weight-base-big;
	src: url(../../fonts/source-sans-pro/SourceSansPro-Semibold.eot) format("embedded-opentype"),
		url(../../fonts/source-sans-pro/SourceSansPro-Semibold.woff2) format("woff2"),
		url(../../fonts/source-sans-pro/SourceSansPro-Semibold.woff) format("woff"),
		url(../../fonts/source-sans-pro/SourceSansPro-Semibold.otf) format("opentype"),
		url(../../fonts/source-sans-pro/SourceSansPro-Semibold.ttf) format("truetype");
}

// @include font-face("Source Sans Pro", "../../fonts/SourceSansPro-Semibold", normal, 600, $file-formats: ttf eot otf woff2 woff);

@font-face {
	font-family: "Source Sans Pro";
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	src: url(../../fonts/source-sans-pro/SourceSansPro-Regular.eot) format("embedded-opentype"),
		url(../../fonts/source-sans-pro/SourceSansPro-Regular.woff2) format("woff2"),
		url(../../fonts/source-sans-pro/SourceSansPro-Regular.woff) format("woff"),
		url(../../fonts/source-sans-pro/SourceSansPro-Regular.otf) format("opentype"),
		url(../../fonts/source-sans-pro/SourceSansPro-Regular.ttf) format("truetype");
}