.container-fluid-800 {
	@include clearfix;

	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	padding-left: $grid-gutter-width / 2;
	padding-right: $grid-gutter-width / 2;
}

.container-padded {
	@media (min-width: $grid-float-breakpoint) {
		padding-left: $dxp-grid-gutter-outside-width;
		padding-right: $dxp-grid-gutter-outside-width;
	}
}

.container-glued {
	padding-left: 0;
	padding-right: 0;
}

.container-xs-glued {
	@media (max-width: $grid-float-breakpoint-max) {
		padding-left: 0;
		padding-right: 0;
	}
}

.container-spaced-top {
	margin-top: $dxp-grid-gutter-outside-width;
}

.container-spaced-bottom {
	margin-bottom: $dxp-grid-gutter-outside-width;
}