.navbar-main {
	margin-bottom: 0;

	@media (max-width: $grid-float-breakpoint-max) {
		text-align: center;

		.navbar-brand {
			display: inline-block;
			float: none;
		}

		.btn-mobile-fix {
			bottom: $btn-fixed-spacer-y;
			height: $btn-icon-height-vertical;
			padding: $btn-icon-padding-vertical $btn-icon-padding-horizontal;
			position: fixed;
			right: $btn-fixed-spacer-x;
			width: $btn-icon-width-horizontal;
			z-index: $zindex-navbar-fixed;
		}

		.navbar-header {
			position: relative;

			.navbar-align-left, .navbar-align-right {
				position: absolute;
				top: 0;
			}

			.navbar-align-left {
				left: 0;
			}

			.navbar-align-right {
				right: 0;
			}
		}
	}

	.navbar-nav {
		> .active > a {
			&:after {
				background-color: $navbar-link-active-highlight;
				bottom: -$navbar-border-bottom-width;
				content: '';
				display: block;
				height: $navbar-link-active-bottom-border-width;
				left: 0;
				position: absolute;
				right: 0;
				width: auto;
			}
		}

		@media (max-width: $grid-float-breakpoint-max) {
			background-color: $sc-dark-lighten;
			height: 40px;
			margin: 0;
			width: 100%;

			> li {
				@media (max-width: $grid-float-breakpoint-max) {
					display: table-cell;
					float: none;
					width: 1%;
				}

				> a {
					padding-bottom: ($navbar-height / 7);
					padding-top: ($navbar-height / 7);
				}
			}
		}
	}

	.navbar-form {
		@media (max-width: $grid-float-breakpoint-max) {
			border-width: 0;
			clear: both;
			margin: 0;

			@include box-shadow(none);
		}
	}

	.form-control {
		background-color: $sc-dark;
		border-color: $sc-dark;
		color: $dxp-white;

		@include placeholder($dxp-white);
	}
}

.navbar {
	border-width: $navbar-border-width;
	margin-bottom: 0;
	min-height: $navbar-height;

	@media (min-width: $grid-float-breakpoint) {
		min-height: $navbar-desktop-height;
	}

	.navbar-brand {
		font-size: $dxp-font-size-h4;
		line-height: $navbar-link-line-height;

		@media (min-width: $grid-float-breakpoint) {
			line-height: $navbar-desktop-link-line-height;
			padding: $navbar-desktop-padding-vertical $navbar-desktop-padding-horizontal;
		}
	}
}

.navbar-form, .basic-search {
	padding: $navbar-form-padding-vertical $navbar-form-padding-horizontal;

	@media (min-width: $grid-float-breakpoint) {
		padding-bottom: ($navbar-desktop-height - $input-height-base - $navbar-border-bottom-width - $navbar-border-top-width) / 2;
		padding-top: ($navbar-desktop-height - $input-height-base - $navbar-border-bottom-width - $navbar-border-top-width) / 2;
	}
}

.navbar-nav {
	> li > a {
		line-height: $navbar-link-line-height;
		padding-bottom: $navbar-padding-vertical;
		padding-top: $navbar-padding-vertical;

		@media (min-width: $grid-float-breakpoint) {
			line-height: $navbar-desktop-link-line-height;
			padding: $navbar-desktop-padding-vertical $navbar-desktop-padding-horizontal;
		}
	}
}