h1, .h1 {
	line-height: $dxp-font-line-height-h1;
}

h2, .h2 {
	line-height: $dxp-font-line-height-h2;
}

h3, .h3 {
	line-height: $dxp-font-line-height-h3;
}

h4, .h4 {
	line-height: $dxp-font-line-height-h4;
}

h5, .h5 {
	line-height: $dxp-font-line-height-h5;
}

h6, .h6 {
	line-height: $dxp-font-line-height-h6;
}