// Structure

$alert-border-radius: 4px !default;
$alert-padding: 18px !default;

// For top only border use: 2px 0 0 0
$alert-border-width: 1 !default;
$alert-font-size: $font-size-desktop-base !default; // 16px

$alert-lead-font-size: $alert-font-size !default;
$alert-lead-font-weight: bold !default;

$alert-link-font-weight: bold !default;

// Skin

$alert-close-color: $text-color !default;

$alert-default-bg: #F5F7F9 !default;
$alert-default-text: #546D7D !default;

$alert-default-border: lighten($alert-default-text, 16%) !default;
$alert-default-text-bold: darken($alert-default-text, 0%) !default;

$alert-success-bg: lighten($brand-success, 60%) !default;
$alert-success-text: $brand-success !default;

$alert-success-border: lighten($alert-success-text, 16%) !default;
$alert-success-text-bold: darken($alert-success-text, 0%) !default;

$alert-info-bg: lighten($brand-info, 48%) !default;
$alert-info-text: $brand-info !default;

$alert-info-border: lighten($alert-info-text, 16%) !default;
$alert-info-text-bold: darken($alert-info-text, 0%) !default;

$alert-warning-bg: lighten($brand-warning, 59%) !default;
$alert-warning-text: $brand-warning !default;

$alert-warning-border: lighten($alert-warning-text, 16%) !default;
$alert-warning-text-bold: darken($alert-warning-text, 0%) !default;

$alert-danger-bg: lighten($brand-danger, 47%) !default;
$alert-danger-text: $brand-danger !default;

$alert-danger-border: lighten($alert-danger-text, 16%) !default;
$alert-danger-text-bold: darken($alert-danger-text, 0%) !default;