$chemachop-history-controls-side: 32px !default;
$chemachop-lg-modal: $modal-footer-height + 9 !default;
$chemachop-negative-margin: -$modal-inner-padding-horizontal !default;

// Skin

$chemachop-bg: $modal-inverse-body-bg !default;
$chemachop-history-controls-btn-color: $tooltip-bg !default;
$chemachop-link-color: $brand-primary !default;
$chemachop-text-color: $inverse-link-color !default;