
$gray-light: lighten(#000, 30%);

$brand-default: darken(#869CAD, 0%); // darken 20% to make navbar text accessible
$brand-primary: darken(#65B6F0, 35%);
$brand-success: darken(#76BD4A, 20%);
$brand-info: darken(#1E5EC8, 0%);
$brand-warning: darken(#F5984C, 25%);
$brand-danger: darken(#CC6677, 10%);

$text-color: #29353D;
$text-muted: lighten($text-color, 25%);




















