
$high-contrast-default-foreground:						  20%;
$high-contrast-default-background:						  0%;

$high-contrast-primary-foreground:						  35%;
$high-contrast-primary-background:						  35%;

$high-contrast-success-foreground:						  35%;
$high-contrast-success-background:						  20%;

$high-contrast-info-foreground:						  	 25%;
$high-contrast-info-background:						  	  0%;

$high-contrast-warning-foreground:						  30%;
$high-contrast-warning-background:						  25%;

$high-contrast-danger-foreground:						  25%;
$high-contrast-danger-background:						  10%;








