$chemachop-btn-space: 24px !default;
$chemachop-controls-height: 52px !default;
$chemachop-filters-height: 90px !default;
$chemachop-link-color: $link-color !default;
$chemachop-negative-margin: -24px !default;
$chemachop-text-line: 2 !default;
$chemachop-text-size: 12px !default;

// Skin

$chemachop-bg: #000 !default;
$chemachop-text-color: #FFF !default;